*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    background-color:rgb(147, 191, 229);
}

span{
    display: block;
}

.canvas{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-left: 22px;
}

.heading{
    padding: 70px;
    font-family: cursive;
    color: rgb(79, 18, 135);
}

.boxes{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    row-gap: 20px;
}

.button{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10%;
    overflow: hidden;
}

.button:hover{
    cursor:pointer;
    transform: scale(1.1);
    transition: 0.2s ease-out;
}

.content{
    padding: 70px;
}

#box-1 {
  background: grey;
}

#box-2 {
  background: white;
}

#box-3 {
  background: blue;
}

#box-4 {
  background: yellow;
}

#box-5 {
    background: orange;
}
#box-6 {
    background: purple;
}
#box-7{
    background-color: green;
}
#box-8{
    background-color: brown;
}

@media(width <= 450px){
    .canvas {
    padding-left: 20px;
    }
    .heading{
        gap: 10px;
        padding: 20px;
        font-size: 11px; 
    }
    .button{
        height: 80px;
        width: 80px;
    
    }
    .boxes{
        grid-template-columns: repeat(2,1fr);
        padding: 55px;
    }
    .content{
        padding: 20px;
        text-align: center;
    }

}
